.each_item{
    width: 350px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(216, 216, 216);
    align-items: center;
    padding-top: 20px;
    border-radius: 10px;
    
    

}
.image{
    width: 300px;
    height: 250px;
}