.signup-page{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255) !important
}
.signup-logo{
    width: 30%;
}
.signup-content{
    position: fixed;
    width: 500px;
    height: 48vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-left: 37%;
    border-radius: 10px;
    box-shadow: 1px 1px 30px gray;
}
.s{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
    

}
.s>div>input{
    width: 400px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
}
.s>button{
    width: 200px;
    height: 50px;
    background-color: rgb(76,87,182);
    /* border: 0px; */
    /* border-radius: 5px; */
    align-self: center;
}
.login-signIn{
    position: relative;
    text-align: center;
    top: 80vh;

}